/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/nanoseq -profile test_nobc_nodx_vc,<docker/singularity>
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check basecalling functions'


    // Input data to skip demultiplexing and variant call
    input               = 'test_basecalling/test_samplesheet.csv'
    protocol            = 'DNA'
    skip_quantification = true
    skip_demultiplexing = true
    skip_basecalling = false
    skip_alignment = false
    skip_multiqc = false
    dorado_modification = '5mCG_5hmCG'
    call_variants = true
    phase_vcf = false
    phase_whatshap = true
    variant_caller = 'clair3'

}
